[2016-05-17 01:07] Node0 opened #3 "404 error upon installing new crate-datasource"
Logged out of Grafana, then:

ssh into server, then:
#### > sudo su -

#### > cd /usr/share/grafana
#### > grafana-cli plugins install crate-datasource
#### > service grafana-server restart

#### > exit

Logged back in to grafana.
Went to  (on left sidebar):
Datasources --> Add Datasource --> select 'Crate'

Then saw this in notification popup:

Plugin Error
Error: XHR error (404 Not Found) loadin

[2016-05-17 01:27] Node0 commented on #3
root@sage:/usr/share/grafana# find . | grep -Pi "crate"
./data/plugins/crate-datasource
./data/plugins/crate-datasource/package.json
./data/plugins/crate-datasource/.gitignore
./data/plugins/crate-datasource/plugin.json
./data/plugins/crate-datasource/Gruntfile.js
./data/plugins/crate-datasource/.jscsrc
./data/plugins/crate-datasource/README.md
./data/plugins/crate-datasource/src
./data/plugins/cr

[2016-05-17 05:43] alexanderzobnin commented on #3
Hi, @Node0. Try to remove /data/plugins/crate-datasource and clone latest version of crate-datasource here:
[code]

[2016-05-19 03:20] Node0 commented on #3
A bunch of commits have occurred, removing plugin, and starting again fresh.
Hopefully this bug has also been quashed.

[2016-05-20 20:38] Node0 commented on #3
Indeed, I've tried that, I've also tried removing the crate-datasource from __all__ locations i.e.
1.) /usr/share/grafana/public/app/plugins/datasource/crate-datasource,
2.) /usr/share/grafana/data/plugins/crate-datasource,
3.) /var/lib/grafana/plugins/crate-datasource/

It's that last one: /var/lib/grafana/plugins/crate-datasource/   which was key... specifically when I install the plugin via gra

[2016-05-20 20:39] Node0 commented on #3
If you add the shell script as a post install hook for at least ubuntu systems (haven't tested this on centos) you might be able to just close the issue. Well either that or determine why grafana-cli plugins install crate-datasource doesn't result in a working installation of crate-datasource.

[2016-05-22 10:56] alexanderzobnin commented on #3
I just not sure that grafana-cli points to latest version of plugin. I'll try to fix it tomorrow.

[2016-05-23 04:11] Node0 commented on #3
In the non-working grafana-cli plugin installs, it looks like the 'dist' directory was not present in /var/lib/grafana/plugins/crate-datasource/

All my shell script does is start from a clean state (wipes the installed crate-datasource, and removes its current directories) then installs the crate datasource via grafana-cli then does the manual git clone to a temp directory, and then copies the 'd

[2016-07-11 15:11] joemoe opened #5 "Multiple Hosts"
In Crate Drivers it is usually possible to provide multiple hosts to distribute the load, e.g. in Crash they can be defined using spaces `crash --hosts st1.crate.io:4200 st2.crate.io st3.crate.io`
https://crate.io/docs/reference/crash/cli.html#example-usage
In JDBC we do it using commas: `[jdbc:]crate://<host>:<transport-port>[,<host>:<transport-port> , ...][/<schemaName>]`
https://crate.io/docs/r

[2016-07-11 15:16] joemoe opened #6 "Autocomplete in Data Source Configuration Dialog"
It would be super cool to have autocomplete of schema, table and time column in the Data Source Configuration Dialog.

[2016-07-11 15:20] joemoe opened #7 "Autocomplete in Row Editor"
When selecting the column for the aggregation of the metric it doesn't provide a autocomplete for the column. This would be nice to have the column selectable.

[2016-07-11 18:21] alexanderzobnin commented on #6
It may be a bit hard. But I can try to implement it.

[2016-07-11 18:22] #3 closed

[2016-07-11 18:24] alexanderzobnin commented on #7
Does it persist after latest updates?

[2016-07-11 18:26] alexanderzobnin commented on #5
Not sure how I can do it. Grafana makes HTTP requests to Crate api endpoint. How can we make requests to multiple http endpoints?

[2016-07-11 20:52] jodok opened #8 "Graph mismatch with data from backend"
it seems that under some circumstance that graph doesn't match with the data from the backend.
e.g. i'm visualizing the load['1'] of our demo cluster - and it shows that the node demo-08 has a load of 2.0 - but it hasn't. i also couldn't find that in the response of the backend.

[code]

[2016-07-11 20:55] jodok commented on #8
sorry - my mistake :) when attaching the screenshot i realized it is the cpu usage that was 2.0 - and that the backend in fact reported 2.0 all the time.

[2016-07-11 20:55] #8 closed

[2016-08-03 12:38] joemoe commented on #5
@alexanderzobnin we just use to make requests round robin, so basically just choosing a node randomly.

[2016-08-03 12:40] joemoe opened #9 "Switch between Aggregation and Raw Data"
A Crate user who is testing Grafana with Crate wants to be able to automatically switch between having data aggregated and raw data.
So whenever the resolution is sow high that you need raw data => use raw data.
Whenever Grafana isn't able to show all the Data points anyhow => aggregate in Crate.

I think the elasticsearch data source is doing something similar.

[2016-08-03 13:47] alexanderzobnin commented on #5
@joemoe I understand but where is this feature implemented? Because I can't use multiple http endpoints in datasource config.

[2016-08-03 13:52] alexanderzobnin commented on #9
@joemoe I think it's possible. Now you can use `Auto` Group By Time Interval, but not sure that it's what you need.

[2016-08-03 13:55] joemoe commented on #9
@alexanderzobnin thanks, i will check this.

[2016-08-03 14:15] joemoe commented on #7
i'll check this.

[2016-08-04 15:28] joemoe commented on #9
@alexanderzobnin
at the moment it changes the first `date_trunc` parameter to `minute`, `second`,... and so on.
what we are looking for is something like this:
[code]
to
[code]
Because when using `date_trunc` we are not able to get to the original data.

[2016-08-04 15:29] joemoe commented on #7
this works now perfectly.

[2016-08-04 15:29] #7 closed

[2016-08-04 15:33] joemoe commented on #5
@alexanderzobnin in jdbc we do it by processing the string.
https://crate.io/docs/reference/jdbc/#jdbc-url-format
looks like this:
[code]
this could also work for the config field or isn't it possible to process the connection string?

[2016-08-04 15:36] joemoe opened #10 "Last value is missing"
When I do a hourly aggregation and there is "part of an hour left" it stops the graphs on the right.

As you can see here.

<img width="285" alt="bildschirmfoto 2016-08-04 um 17 24 19" src="https://cloud.githubusercontent.com/assets/68620/17408047/ef3dd8c6-5a69-11e6-9a68-0765cf550419.png">

[2016-08-04 15:42] joemoe opened #11 "10 k limit"
at the moment we hit the crate internal 10 k limit when want to visualize a table grouping by a field and going for seconds over a longer time span like an hour or something.

the graph then stops at one point.
do you have an idea what we can do about this? e.g.:
* run several queries to complete the graph.
* automatically change the resolution when we know the cardinality of the group by column.

[2016-08-07 13:22] alexanderzobnin commented on #5
Grafana doesn't use jdbc for connection to Crate. I think this feature must be implemented in Crate HTTP API.

[2016-08-09 18:34] alexanderzobnin commented on #9
@joemoe I've added `Raw` agg type, which mean "No aggregation" for explicit raw data usage. Next step is auto usage raw data when it's possible.

[2016-08-09 18:39] alexanderzobnin commented on #10
Can you show me your query?

[2016-08-09 18:46] alexanderzobnin commented on #11
The main problem is that Grafana don't knows how many points will be returned. So we can check it only after handling request.

[2016-08-11 09:39] joemoe commented on #11
I was thinking on the resolution. E.g. if we'd know we got a timespan from 11 to 17:30 which are 6 hours 30 minutes or ~ 23.000 seconds. it wouldn't make sense to get the second results and therefor it might switch to the minute resolution.

might this be a way to go?

[2016-08-11 09:43] joemoe commented on #9
ok, will test that.

[2016-08-11 09:44] joemoe commented on #5
@alexanderzobnin it was just an example. i think the datasource needs to parse the host string and then pick one randomly.

[2016-08-11 10:52] alexanderzobnin commented on #11
You can set `Auto` time interval which works similarly.

[2016-08-11 10:56] alexanderzobnin commented on #10
it's due `date_trunc('minute'...)`. So all points in each minute has been aggregated into one with rounded timestamp.

[2016-08-11 10:59] alexanderzobnin commented on #5
Ok, now I understand. Finally, task is to implement round-robin on the Grafana side, right?

[2016-08-11 12:54] joemoe commented on #5
@alexanderzobnin yes, that's what i thought of.

[2016-08-11 15:40] alexanderzobnin commented on #5
Ok, will do it.

[2016-08-11 18:55] alexanderzobnin commented on #5
@joemoe There are some troubles with this feature.
First: when datasource access is `proxy`, Grafana uses backend for making http requests. So I can't modify url from datasource code.
Second: you can enable `direct` mode for making requests from client side, but you may get CORS issue, like this:

To fix it you must enable cross-origin resource sharing in crate config:
[code]
see [elastic HTTP doc

[2016-08-11 19:14] alexanderzobnin commented on #5
I've pushed changes into `multiple-hosts` branch, so you can test it. Waiting for feedback.

[2016-08-12 07:35] joemoe commented on #5
ok, i'll test it. but you're right. the proxy thingy makes it kind of hard. i guess people to tend to keep this setting.

[2016-09-22 06:32] jodok commented on #11
@Node0 we're discussing arbitrary group by intervals. as intermediate workaround, if the grafana query overrides the default limit of 10k by specifying `LIMIT 20000` - would this help?

[2016-09-22 11:13] alexanderzobnin commented on #11
This issue appears due database can returns different sets of series. For example, you request CPU load for all servers in group database for the last two hours and use `minute` resolution. This group can contains, for instance, 5 servers or 100 servers. In first case database returns `60 * 2 * 5 = 600` points and `60 * 2 * 100 = 12000` points. And we cannot predict number of series to use corresp

[2016-09-22 12:24] Node0 commented on #11
Hi @jodok!
As an intermediary workaround, I'd say providing a field in the datasource plugin configuration view
where the user can configure the value specified e.g. 10k (default if no value entered), 20k, etc

@alexanderzobnin , I was thinking that a count (*) aggregation statement executed before the main statement-series (I say "statement series" as the count aggregation results would then be a

[2016-09-22 17:30] alexanderzobnin commented on #11
@Node0 yes, I think it's stable solution, so we can try this way.

[2016-09-22 17:47] jodok commented on #11
@Node0 i agree - that's a really nice workaround right now. @alexanderzobnin let's do it that way and let's get out the beta version of the datasource on grafana.net as soon as possible.

[2016-09-22 17:48] jodok commented on #10
@alexanderzobnin how do other datasources deal with that issue?

[2016-09-22 17:49] jodok commented on #9
@joemoe have you been able to test? would be great if we can get this into the first beta release as well.

[2016-09-22 17:50] jodok commented on #6
i agree, this is lower prio / cosmetics. let's keep the issue here right now and tackle it after we finished the rest of the more important issues.

[2016-09-22 17:52] jodok commented on #5
@joemoe have you been able to test this? i think the direct connection is rather an esoteric use case. i'd focus on the proxy connection. however i understand this might need changes on the grafana side? @nopzor1200 or @torkelo can you comment on this?

[2016-09-22 17:56] alexanderzobnin commented on #10
InfluxDB example (group by 1 hour):

<img width="1280" alt="screen shot 2016-09-22 at 20 55 30" src="https://cloud.githubusercontent.com/assets/4932851/18759793/ec87a67a-8106-11e6-8e31-5a552854ebec.png">

[2016-09-22 17:58] jodok commented on #10
ok, so let's leave this issue with low prio as well. seems to be a general, cosmetic issue

[2016-09-22 17:58] alexanderzobnin commented on #10
Seems, `GROUP BY` from both Crate and InfluxDB uses left bound's timestamp for grouped value.

[2016-09-22 18:00] jodok commented on #10
i think the only possibility is that you make sure when building the WHERE clause  that the upper limit is high enough.

[2016-09-22 18:10] torkelo commented on #5
Does crate not have a load balancer / domain? That is how must setup load distribution, instead of having grafana do round robin calls to multiple urls, put a load balancer in front of the datasource

[2016-09-22 18:21] alexanderzobnin commented on #6
Yes, datasource setup is a single-time action, so I think, it's not a big problem right now.

[2016-09-22 18:26] jodok commented on #5
one of the nice things is that you don't need a load balancer :) you simply round robin between the nodes. if one node fails - simply go to the next node.
can't you pass an array to the proxy?

[2016-09-23 08:08] joemoe commented on #9
@alexanderzobnin @jodok yes. it works fine to get the raw data now.
here are some things i'd like to improve:

* with raw data like we have here it is possible to zoom in so that there are no time labels anymore
<img width="1220" alt="bildschirmfoto 2016-09-23 um 10 04 23" src="https://cloud.githubusercontent.com/assets/68620/18778620/71249e38-8175-11e6-96f0-effc6dbd327e.png">

* When you chose ra

[2016-09-23 08:12] joemoe commented on #9
when i think about it i don't know if the aggregation select field is the right place.

in my opinion this should be more part of the group by time interval logic.

group by "none" => raw.
auto => when showing only a few seconds it switches automatically to raw.

[2016-09-23 08:14] joemoe commented on #10
yes, if you aggregate by a minute the right bound should be the next full minute or - which might be even easier - round the shown timeframe to the time interval.

[2016-09-23 08:23] joemoe commented on #5
@alexanderzobnin i'm not able to get this running, as there seem to be some errors.
i got some failing mocha tests.

[code]

if i force it, the error occurs also in the application.
<img width="336" alt="bildschirmfoto 2016-09-23 um 10 22 58" src="https://cloud.githubusercontent.com/assets/68620/18779100/c0fd3f76-8177-11e6-986d-65dd9f12e56d.png">

[2016-09-23 08:36] joemoe opened #13 "Graph Panel > Multiple Selects"
Multiple Selects don't seem to work:

I have a Graph Panel with multiple Selects. It only visualizes the first Select.
<img width="1197" alt="bildschirmfoto 2016-09-23 um 10 31 50" src="https://cloud.githubusercontent.com/assets/68620/18779478/819b2508-8179-11e6-9008-977e58f5d37f.png">

When I hide the first, it visualizes the second:
<img width="1174" alt="bildschirmfoto 2016-09-23 um 10 31 58" s

[2016-09-23 08:38] joemoe opened #14 "Singlestat"
@alexanderzobnin what is the status of the singlestat panel?
should this work already?
because it doesn't for me.

[2016-09-23 08:39] joemoe opened #15 "Table"
@alexanderzobnin same with the table. should this work already? because it seems like there's only some demo data in it.

[2016-09-27 18:13] alexanderzobnin commented on #9
@joemoe yes, it makes sense.

[2016-09-27 18:27] alexanderzobnin commented on #14
What's exactly a problem? Can you describe, please, may be attach screenshots.

[2016-09-27 18:35] alexanderzobnin commented on #15
Can you describe requirements for table panel?

[2016-09-27 18:46] alexanderzobnin commented on #13
Confirmed, this is really a bug.

[2016-09-27 19:19] alexanderzobnin commented on #13
Try to build from `fix-multiple_selects` branch.

[2016-09-28 09:09] joemoe commented on #13
tested it, and it seems to work fine.

[2016-09-28 09:29] joemoe commented on #15
i think it would make sense to have:

* time series to row
* time series to column
* time series to aggregations

annotations might also be nice, but it's only a nice to have. JSON Data is not necessary right now.

[2016-09-28 09:31] joemoe commented on #9
@alexanderzobnin what do you mean?
"yes, it makes sense what i said" or "yes, it makes sense where it is."

[2016-09-28 10:32] alexanderzobnin commented on #13
Ok, I'll add more tests and then merge it into master.

[2016-10-11 12:15] joemoe commented on #13
hi @alexanderzobnin were you able to merge it to master?

[2016-10-11 12:16] joemoe commented on #11
@alexanderzobnin did you work on this issue?

[2016-10-20 21:07] alexanderzobnin commented on #11
@joemoe I've added workaround for this issue, so you can set _Group By Time Interval_ to _Auto_ in query editor and check result.

[2016-10-20 21:16] alexanderzobnin commented on #15
@joemoe it works for me. These modes for table panel uses timeseries data, so no additional implementation is needed.

[2016-10-20 21:17] alexanderzobnin commented on #13
Yes, just merged.

[2016-10-21 06:39] Node0 commented on #11
Excellent, I'll attempt to test this.

[2016-11-19 15:22] jodok opened #18 "where clause - fieldname selection improvements"
when selecting the fieldname only 10 fields are being fetched.
i think limiting to 10 fields is ok, although scrolling would also be fine.
- the fields should be ordered (`ORDER BY 1`)
- if a letter is entered to the field, the query should be updated and a search for that letter(s) executed. `SELECT DISTINCT myfield FROM "myschema"."mytable" WHERE myfield ~* '.*w.*' ORDER BY 1 LIMIT 10` (NOTE: or

[2016-11-19 15:29] jodok opened #19 "plotting raw value tries to GROUP BY"
i'm trying to plot a single value without aggregation
<img width="797" alt="raw" src="https://cloud.githubusercontent.com/assets/158125/20456324/032d238c-ae75-11e6-9fd7-88d03534a486.png">

and the datasource is being queried like that:

[code]

but it should be:

[code]

[2016-11-19 15:46] jodok opened #20 "if one field as custom SQL, this is shown on the second line as well"
collapsed field shows the same:
<img width="1252" alt="sql1" src="https://cloud.githubusercontent.com/assets/158125/20456482/adb02776-ae77-11e6-9ec5-3543b7f051e6.png">
uncollapsed field:
<img width="1157" alt="sql2" src="https://cloud.githubusercontent.com/assets/158125/20456485/b630266c-ae77-11e6-9eb4-36220c1f4f82.png">

i'd expect to see the actual SQL

[2016-11-21 08:44] jodok commented on #19
ok, could debug this further - problem occurs if the `Group By Time Interval` is set to `Auto`

[2016-11-21 09:05] joemoe opened #21 "Templates in like"
When using a template variable in a `WHERE` field with e.g. `like` grafana sends an unquoted string, wheres when you just type some text grafana adds quotes.

[2016-11-21 09:08] jodok commented on #21
<img width="395" alt="quote" src="https://cloud.githubusercontent.com/assets/158125/20476666/6c7b8aa0-afd2-11e6-8e42-634d97a5303f.png">

[2016-11-21 09:14] joemoe opened #22 "Custom text in legend"
Is there a way to modify the legend text.
We have now 10 Lines where each says `arbitrary(payload['value'])`, which looks odd.

We'd like to:

* make showing aggregation type custom.
* being able to run a regular expression replacement over the labels.

[2016-11-21 10:11] joemoe opened #23 "Repeat Panels"
We want to have a repeated panels view.
It works that the panels are repeated. The problem is that it doesn't push the queries through.

So we configured the repeat by an var:

<img width="456" alt="grafana-repeat" src="https://cloud.githubusercontent.com/assets/68620/20478594/0b183660-afdb-11e6-98bd-b8a92ae3de9c.png">

The panel is correctly shown with the correct title.

<img width="203" alt="gr

[2016-11-22 18:09] jodok opened #25 "proper error messages on templating screen"
if there's an error with the templating sql query, it should be showed properly:

<img width="946" alt="templating" src="https://cloud.githubusercontent.com/assets/158125/20535833/d0897bdc-b0e6-11e6-909f-d64cc7f9dc29.png">

(here's what happened in the background)
- a HTTP 403 error - because a missing CROSS-SITE-ORIGIN header configuration - caused the error

HTTP 403 errors should probably point

[2016-11-22 18:38] jodok opened #26 "graphs not properly aligned"
this seems like a css issue. not sure if this is a general grafana problem?
<img width="1224" alt="graph1" src="https://cloud.githubusercontent.com/assets/158125/20536891/3d39795e-b0eb-11e6-81ba-525e7686f1f3.png">
<img width="1246" alt="graph2" src="https://cloud.githubusercontent.com/assets/158125/20536892/3d3c4864-b0eb-11e6-82bc-816225868647.png">
<img width="1210" alt="graph3" src="https://clou

[2016-11-24 16:25] alexanderzobnin commented on #26
Seems, yes. Which grafana verison do you use?

[2016-11-24 16:28] alexanderzobnin commented on #19
It's because we invoke `SELECT count(*)` query first to determine amount of points to return and select proper Group By Time Interval. See #11. Can you show second query (after SELECT count(*))?

[2016-11-24 16:31] alexanderzobnin commented on #20
Can you show first query (`A`)? I can't see difference on these pictures.

[2016-11-24 17:30] jodok commented on #26
Grafana v3.1.1 (commit: a4d2708)

[2016-11-24 17:31] jodok commented on #22
i think this is called alias?

[2016-11-24 17:38] jodok commented on #20
yes, that's the problem - it's somehow always the same. but i think i could debug it further.
the problem is that the collapsed view of a custom sql query doesn't show the query i entered in the custom SQL query ("toggle edit")
custom query:
<img width="1084" alt="sql" src="https://cloud.githubusercontent.com/assets/158125/20606990/1b5039e6-b275-11e6-9f1b-4265d6be986b.png">

collapsed view:
<img w

[2016-11-25 14:09] alexanderzobnin commented on #26
Does it occur when you resize a panel?

[2016-11-25 14:11] alexanderzobnin commented on #22
Yes, I think I can add Alias field for each SELECT.

[2016-11-25 14:13] alexanderzobnin commented on #20
Aha, seems, that's a reason.

[2016-11-25 14:32] jodok commented on #26
resizing helps!

[2016-11-28 21:51] joemoe commented on #22
@alexanderzobnin this seems to work fine. just tested it.

[2016-11-28 21:53] #22 closed

[2016-11-28 21:55] joemoe commented on #19
it seems like there is a new problem. auto does now a query crate can't handle anymore.
<img width="645" alt="" src="https://cloud.githubusercontent.com/assets/68620/20687655/a75d1dd2-b5bd-11e6-9e94-539792097f4d.png">

what do mean by show second query?

[2016-11-28 22:11] joemoe commented on #23
it seems to work now better.

but there are still some issues:

* i get an error i can't move away

<img width="294" alt="bildschirmfoto 2016-11-28 um 23 06 54" src="https://cloud.githubusercontent.com/assets/68620/20688073/7df978e4-b5bf-11e6-8d54-d86742863f87.png">

* and although it seems to works fine it doesn't size the graphs well, when setting no min span. i mean this could be the default be

[2016-11-28 22:17] joemoe commented on #20
this works for me now. can you confirm, @jodok ?

[2016-11-28 22:18] #15 closed

[2016-11-28 22:19] #14 closed

[2016-11-28 22:20] joemoe commented on #19
hm, it worked now. there seems to be some edge case.

[2016-11-28 22:21] joemoe commented on #19
can't reproduce it anymore.

[2016-11-29 11:05] alexanderzobnin commented on #23
@joemoe do you see any errors in JS console (in developer tools)?

[2016-11-29 11:08] alexanderzobnin commented on #22
@joemoe do you need this: ?
- make showing aggregation type custom.
- being able to run a regular expression replacement over the labels.

[2016-11-29 13:41] joemoe commented on #23
@alexanderzobnin this works. i had an error in the configuration.
there's just one thing that as i think is `grafana`specific. so when i want to change to look of all the repeated panels, i have to touch all of them. in my opinion i should just change one, the first. but i guess this is a different topic.

[2016-11-29 13:41] #23 closed

[2016-11-29 13:53] joemoe commented on #21
this seems to be a bit tricky.

it works whenever you use a variable on its own.

**integer:** ✅
<img width="153" alt="bildschirmfoto 2016-11-29 um 14 51 18" src="https://cloud.githubusercontent.com/assets/68620/20712182/5d1c252a-b643-11e6-936f-3a93bfad9772.png">
<img width="142" alt="bildschirmfoto 2016-11-29 um 14 51 12" src="https://cloud.githubusercontent.com/assets/68620/20712183/5d1e6c5e-b64

[2016-11-29 13:53] joemoe commented on #19
is this still an issue for you @jodok?

[2016-11-29 13:54] joemoe commented on #13
this works now.

[2016-11-29 13:54] #13 closed

[2016-11-29 14:07] #9 closed

[2016-11-29 14:09] joemoe commented on #25
@alexanderzobnin maybe just return the error message of crate

[2016-11-29 18:24] alexanderzobnin commented on #23
@joemoe you can do it by changing first panel only, but it may require page reload. I's grafana behaviour.

[2016-11-29 18:51] alexanderzobnin commented on #25
@joemoe Unfortunately, I can't do that because Grafana handle error before I can get it inside plugin code. I just get general error object with odd status `-1` and without any explanations. I'll discuss this with @torkelo and we'll try to find better solution.

[2016-11-30 05:15] alexanderzobnin commented on #21
Ok, I'll add unit test for this case.

[2016-11-30 10:43] joemoe commented on #25
ok. i think this would be a good feature as the user then would know what to do.

[2016-12-01 08:36] joemoe opened #27 "modifying group by column values"
when we do a group by a field that has longer values we totally clutter the legend.
it would be cool to have there also the possibility to add a regexp or whatever.

we often work with iot data and they use so called topics.
topics often look like this `/crate/download/server/tar.gz/weekly`

[2016-12-01 08:39] joemoe opened #28 "quote column names"
when working with camelcase column names we need to quote them, because otherwise they will be changed to lower case which breaks the query.

[2016-12-01 08:39] jodok commented on #28
<img width="749" alt="screenshot 2016-12-01 09 38 38" src="https://cloud.githubusercontent.com/assets/158125/20787048/1d6b6e1e-b7aa-11e6-894e-f4885ece7663.png">
<img width="716" alt="screenshot 2016-12-01 09 38 48" src="https://cloud.githubusercontent.com/assets/158125/20787049/1d6b9862-b7aa-11e6-90b9-651b5cc7bfcd.png">

[2016-12-01 08:44] joemoe opened #29 "reference available variables like data source in custom query"
when we use a custom query it would be useful to have variables like `$datasource` available.
is this possible?

[2016-12-01 08:57] joemoe opened #30 "separate graphs by grouped by column in custom query"
when we do a custom query and want to have graphs for every group by value it doesn't seem possible at the moment.
is there a way to achieve this?

[2016-12-01 08:58] jodok commented on #30
![screenshot 2016-12-01 09 56 33](https://cloud.githubusercontent.com/assets/158125/20787547/ac9a4450-b7ac-11e6-818b-d717e499c206.png)

[2016-12-01 09:00] jodok commented on #20
works for me.

[2016-12-01 09:00] #20 closed

[2016-12-01 09:02] jodok commented on #19
yes, still an issue. is there a way i can help to debug?

[2016-12-01 09:14] joemoe commented on #19
@alexanderzobnin we narrowed it down to having no `alias` set.

[2016-12-02 09:34] joemoe opened #31 "Empty group by"
when we select multiple values without using a `group by` it only shows one.

empty `group by`s seem to make problems.
can't you just leave the `group by` condition aside when there's no field to group by.

<img width="349" alt="bildschirmfoto 2016-12-02 um 10 31 45" src="https://cloud.githubusercontent.com/assets/68620/20829102/e5a6a13e-b87a-11e6-9673-2cb2c3ed8412.png">
<img width="379" alt="bild

[2016-12-04 14:31] alexanderzobnin commented on #29
Can you explain? Where do you want to see that variables?

[2016-12-04 14:33] alexanderzobnin commented on #30
It isn't so easy - we should parse query and find GROUP BY clause and its columns, but I think it's possible.

[2016-12-04 18:33] alexanderzobnin commented on #27
Put regex in `AS` field for group by to extract part of column value. You can also use capture groups.

<img width="1280" alt="screen shot 2016-12-04 at 21 31 07" src="https://cloud.githubusercontent.com/assets/4932851/20868295/4de0bc90-ba69-11e6-9d59-95811e1bbdf6.png">

[2016-12-06 14:23] joemoe commented on #27
@alexanderzobnin this works fine now. i'm just not sure if rows that are regexed to the same value should be combined.
e.g. when you have `.{1-3}` and you have two different values like `abcd` and `abce` in my opinion  they shouldn't be aggregated to the same line.
what do you think @jodok?

[2016-12-06 14:25] joemoe commented on #30
ok, let's leave it for now, we should keep this in mind.
can't you use the number of returned values.
no1: timestamp, x val
no2: value, y val
no3: group
or does this destroy something else?

[2016-12-06 14:28] joemoe commented on #29
following scenario:

* i create a graph
* i chose a `crate` datasource
* i toggle the edit mode
* i get an empty line
* in this line i'd like to reference things like `datasource` so instead of writing `select * from schema.table` i'd like to write `select * from $datasource` as this is already defined.

does this help you?

[2016-12-06 20:17] alexanderzobnin commented on #29
I understand what you want. I've been confused by variable name `$datasource` because it used by grafana. We can choose another name like `$table` or something else.

[2016-12-06 20:18] alexanderzobnin commented on #27
@joemoe you're right, I thought about that. I'll check this behaviour.

[2016-12-06 20:22] alexanderzobnin commented on #30
It makes sense to use rest values from each row as GROUP BY column values. I'll do it.

[2016-12-18 09:31] buom opened #32 "Allow non-numeric data in Table panel"
Please help me how to display data in table_pannel (http://docs.grafana.org/reference/table_panel/) correctly

In Grafana:
query:
![image](https://cloud.githubusercontent.com/assets/39004/21292667/5efd8950-c53f-11e6-920e-ddc25b0f8855.png)

![image](https://cloud.githubusercontent.com/assets/39004/21292721/afe969a0-c540-11e6-8f33-ad54004c2cc7.png)

result:
![image](https://cloud.githubusercontent.c

[2016-12-21 17:01] alexanderzobnin commented on #32
We need to implement table mode for queries, otherwise grafana considers that data is time series and has numeric values.

[2017-01-16 20:52] alexanderzobnin commented on #32
@buom closed by your PR.

[2017-01-16 20:52] #32 closed

[2017-01-24 15:04] mikethebeer opened #35 "Alias at `GROUP BY` field is not used"
If an alias is set to the `group by` field, it will be not used in the SQL request.

![grafana-metrics](https://cloud.githubusercontent.com/assets/6863216/22252466/948a2cc8-e24e-11e6-8b93-dba08f0d4345.PNG)

Will be generated in:

[code]

[2017-02-07 00:54] jodok opened #37 "query schema: use table_schema instead of schema_name"
with crate 1.0 the way to query the schema has changed.
i've created a pull request here: https://github.com/raintank/crate-datasource/pull/36

[2017-03-08 23:16] #37 closed

[2017-03-08 23:18] jodok opened #38 "value discovery for where filter uses `$timeFilter` but does not resolve it"
when building the WHERE clause in the filter the query builder uses the `$timeFilter` variable but doesn't substitute it.
![screenshot 2017-03-09 00 15 50](https://cloud.githubusercontent.com/assets/158125/23728594/f43a8790-045d-11e7-816b-9537a556e588.png)

[2017-03-19 18:13] alexanderzobnin commented on #38
Fixed by dd342ad5bae2ed8bfc3f9fb4eccd63c645f3f897

[2017-03-19 18:13] #38 closed

[2017-03-19 18:28] alexanderzobnin commented on #35
Sorry for confused option. Group By alias works when grafana processes response. It just allows to extract part of returned group by column value using regex:

![screenshot from 2017-03-19 21 27 00](https://cloud.githubusercontent.com/assets/4932851/24083582/d668c6ba-0cea-11e7-861a-5562724d6b0f.png)

Original tag name was `house_1`

[2017-03-19 18:28] #35 closed

[2017-03-19 18:30] #30 closed

[2017-03-19 18:32] #27 closed

[2017-03-19 18:35] #28 closed

[2017-03-19 18:37] #19 closed

[2017-03-19 18:38] #31 closed

[2017-03-19 21:07] jodok commented on #31
the graph is now correctly displayed. but it seems the axes are displayed with the wrong scale.
if i display only one graph:
<img width="543" alt="1" src="https://cloud.githubusercontent.com/assets/158125/24084735/38e1532a-0cf0-11e7-9fc1-321313391306.png">

if i select the second graph, showing load/2 the numbers on the y-axes are to high.
<img width="523" alt="2" src="https://cloud.githubusercont

[2017-03-19 21:10] jodok opened #39 "Y-Axis scale changes when selecting multiple values"
i couldn't reopen #31, that's why i create a new issue.

if i select one value the axis is displayed like this (correctly):
<img width="543" alt="1" src="https://cloud.githubusercontent.com/assets/158125/24084755/a6bd1032-0cf0-11e7-9bf4-ffc122622c76.png">

if i add a second graph (calculated from the first / 2) the scale of the y-axis changes:
<img width="523" alt="2" src="https://cloud.githubuser

[2017-03-19 21:12] jodok commented on #39
sorry, the graph was stacked. my mistake.

[2017-03-19 21:12] #39 closed

[2017-03-19 21:59] jodok opened #40 "timeFilter is not quoted and therefor doesn't support CamelCaseTimestamp columns"
[code]

i tried to fix it here: https://github.com/crate/crate-datasource/tree/jb/quoteColumn but this creates an invalid SQL statement.

[code]

it seems that that is using `formatCrateValue` to properly quote values - and is also quoting the entire `timeFilter` which is already properly quoted.

[2017-03-21 18:22] #40 closed

[2017-03-31 15:29] sybrandy opened #41 "scopedVars is undefined"
Hello,

I'm getting that error after upgrading the datasource today to version 0.5.0.  Brief stack trace below:

datasource.js?bust=<num>:249:68
datasource.js?bust=<num>:123:38

Tried this with both a pie chart and a graph.  Simple query:

    select ts as time, count(state), state
    from "proj"."states"
    where ts >= ? and created_at <= ?
    group by time, state
    order by time, state asc

[2017-04-01 18:53] alexanderzobnin commented on #41
@sybrandy @jodok can you also tell which Grafana version do you use?

[2017-04-01 18:55] jodok commented on #41
i'm using Grafana v4.1.2 (commit: v4.1.2)

[2017-04-01 19:24] jodok commented on #41
i upgraded to v4.2.0 (commit: 349f3eb) and there the error disappears

[2017-04-01 19:28] jodok opened #42 "time grouping applies to large limit, doesn't use the database functions for "normal" grouping intervals"
if i select data for the last half year the datasource generate this query:
[code]
it should use:
[code]

(or more than 182 - but half a year has only 182 days).

[2017-04-03 12:41] sybrandy commented on #41
I was using 4.1.1, but I upgraded to 4.2.0 and it's working for me now as well.  May I suggest that you add something to the README to document that users should use 4.2.0 for the current version of this plugin to prevent any further confusion?

Since it's working for me now, I'm going to close this.

[2017-04-03 12:41] #41 closed

[2017-04-03 13:01] alexanderzobnin commented on #42
@jodok you should use Auto interval, not Auto (grafana).

[2017-04-03 14:32] sybrandy commented on #21
Any progress on this?  I'm trying to use a template variable and I keep getting the following error:

    self.templateSrv.containsVariable

I'm using version 0.5.0 of the data source and Grafana 4.2.0.

[2017-04-13 11:48] celaus opened #43 "support for match()"
Hi!

For log analysis and general text analysis, the match clause would be really useful since it 10-folds performance (and enables more fulltext search features) compared to `like` or `=`.

https://crate.io/docs/reference/sql/fulltext.html

A basic example query would be `select * from mytable where match(a_fulltext_index, 'hello')`,  something more advanced could look like `select * from mytable

[2017-04-28 12:52] jodok opened #44 "auto interval doesn't use correct grouping"
i'm plotting a couple of values (AVG) over a variable timespan, but the automatic switch doesn't use the right group by interval

<img width="1428" alt="graph" src="https://cloud.githubusercontent.com/assets/158125/25529423/38f1bdae-2c22-11e7-9967-0fb109afdf92.png">
<img width="1142" alt="querybuilder" src="https://cloud.githubusercontent.com/assets/158125/25529429/3ddf3ae4-2c22-11e7-987a-a4c50354

[2017-05-03 17:02] taiuti opened #45 "The datasource does not support alerting queries"
If i define alert i have the following errors:

![schermata](https://cloud.githubusercontent.com/assets/1710430/25672248/0b358dfe-3033-11e7-9f92-1ad630804417.png)

[2017-05-22 18:54] alexanderzobnin commented on #45
Crate data source doesn't support alerting now.

[2017-05-22 19:02] jodok commented on #45
isn't this a grafana thing, where grafana periodically issues queries?

[2017-05-22 19:55] torkelo commented on #45
@jodok yes but only a few core Grafana data source plugins support alerting as the data source code needs to be reimplmented and embedded in grafana backend for alerting to work for that data source.

We hope to add backend plugins in the future so external data sources can support alerting but that is a long way way (and requires that data source be reimplemented in go)

[2017-05-22 19:55] #45 closed, assigned to nobody

[2017-05-29 12:13] ghost opened #46 "Annotations support"
It would be nice to add support for annotations

[2017-08-18 02:13] newengine opened #47 "400 error when pulling data"
here is the error that produce by the grafana dashboard

--- request
/api/datasources/proxy/1/_sql
Request Method:POST
Status Code:400 Bad Request

---response

{"error":{"root_cause":[{"type":"illegal_argument_exception","reason":"No endpoint or operation is available at [_sql]"}],"type":"illegal_argument_exception","reason":"No endpoint or operation is available at [_sql]"},"status":400}

[2017-08-24 19:32] alexanderzobnin commented on #47
@newengine can you tell about your environment (Crate DB version, plugin version)?

[2017-09-10 02:19] newengine commented on #47
crate db 2.1.5,   plugin 0.5.1

[2018-02-27 07:35] vishuPPatel opened #48 "How to customise this plugin?"
Hello....any  budy know How to to customise this plugin and any example of this...

Thanks In Advance !!!!....

[2018-02-27 09:53] Johnlin1226 opened #49 "Table Data with CrateDB - Limited events shown based on time?"
Hi all,

I have a table in Grafana pointing to CrateDB - with about 1mil data inserted incrementally starting from 24th January 18’ till today (insertion still ongoing from connected devices).

Here I have a question: when I select the Time Range starting from January 2018 till now not all data is being shown… (the date range for data is from 24th Jan to 16th Feb)

When I change the Time Range sta

[2018-02-28 09:21] chaudum commented on #49
The CrateDB datasource only loads a maximum of 100k records which is a hard-coded limit https://github.com/raintank/crate-datasource/blob/a685ae6c95f0416b67aa2739e89204d114ed40cb/src/query_builder.ts#L5-L7
This is because CrateDB does not support streaming via HTTP and we don't want load all results in the memory which would result in slow query times. https://crate.io/docs/crate/reference/en/late

[2018-04-09 22:59] davidraker opened #50 "Quotes Around Variable in WHERE Clause"
Attempting to use a variable in the WHERE clause as:
`WHERE column_name = $variable/string`
or
`WHERE column_name = [[variable]]/string`
For variable contents: "foo" this should expand to `'foo/string'`.
Instead it expands to `'foo'/string`.
Similar behavior seems to have been discussed for the MySQL and PostgreSQL (https://github.com/grafana/grafana/pull/9611) but this still seems to be a problem

[2018-04-09 23:15] davidraker commented on #50
On further investigation, I did find that this works as a workaround:
`WHERE column_name = $variable || '/string'`
This seems to be contrary to the Grafana documentation on how this should work, however.

[2018-08-06 14:30] seanlook opened #52 "groupInterval should allow $interval variables in 'auto_gf'"
My metrics are collected every 5 minutes, so I group my data 5 minutes to show data points.

But in CrateDB here I've to choose `auto_gf` or other intervals that supported in *date_trunk*.

I usually use template variable `$interval` in my grafana dashboard, any values like `1s`, `10s`, `30s`, `5m` could be set, but can't use it in this crate-datasource plugin.

(I use raw sql for now, but can't u

[2018-08-06 14:41] seanlook opened #53 "allow using different table name from the same datasource"
This is no reason that table name has to be given when adding the crate datasource in grafana.

I write my metric using different table for absolutely different user and metric. There's no need to put them all in one table.

So when I draw a graph wthin a panel, the table name can be givien like other tags/fields hints. Hoping for that.

[2018-09-19 12:49] Cerfoglg opened #54 "Support for alerts with Grafana backend plugins"
Recently we have been using Grafana with CrateDB as a data source through this plugin. One feature we were missing was alerts, so we built a custom Docker image of Grafana with our basic support for alerts in the backend. This isn't ideal for us, and we were looking into Grafana's planned support for backend plugins. Currently they have a branch with support for backend plugins (undocumented), and

[2018-10-10 00:29] rymoore opened #55 "Still in development?"
Looks like no updates here for over a year - is this plugin still in active development?

[2018-10-10 04:59] jodok commented on #55
we're planning to move over to the postgres datasource - the latest CrateDB version already has some improvements to make the connection work (better).

[2018-10-10 14:08] rymoore commented on #55
So using the Postgres datasource, we'd be able to connect to a CrateDB instance? Would features like alerting and annotations work?

[2018-10-10 14:11] jodok commented on #55
we're in the progress of testing and improving support for it. it would be great to get your feedback on issues - and also to hear what is working and what not.
you might want to use the latest testing release for cratedb.
we'd be happy to address issues promptly.

[2018-11-07 11:58] versatildefuy commented on #55
Hi @jodok, we are really interested in this topic. Do you have any documentation or guide to test it?

[2018-11-12 12:49] joemoe commented on #55
hi @rymoore, @versatildefuy,

connecting CrateDB to Grafana via the Postgres datasource works fine. I'm not sure if alerting and annotations also work, but we will check this and I'll let you know.

Thanks,
Joe

[2018-11-20 17:27] #47 closed, assigned to nobody

[2019-02-25 12:20] scjimenez opened #56 "Remove repo"
With our latest effort, the PostgreSQL implementation of Grafana works fine with CrateDB. Hence we skip the Grafana Datasource Plugin for CrateDB and move over to the PostgreSQL data source. May I, therefore, ask you to mark the repo as deprecated?

[2019-03-17 13:17] agaldemas commented on #50
Hello,
I had the same sort of issue trying to use a variable in a WHERE clause in the metrics interface
`WHERE column_name like $variable`
or
`WHERE column_name like [[variable]]`
is translated in the query as :
`WHERE column_name like ''<variable value>''
`  the 2 single quotes surround,
results in an sql error...

I manage to **workaround** the problem by adding `'' || ` before `$variable` to ha

[2019-03-25 16:51] scjimenez commented on #50
Hi hi :)

Thanks a lot for your input! With our latest effort, the PostgreSQL implementation of Grafana works fine with CrateDB. Hence, we skip the Grafana Datasource Plugin for CrateDB and move over to the PostgreSQL data source. In case you wanna read more about how to pair CrateDB and Grafana, please take a look at [this blog post](https://crate.io/a/pair-cratedb-with-grafana-an-open-platform-f